*{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#f4e4ba ;
    min-height: 100vh;
}

.container{
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    min-height: 45vh;
    width: 40vh;
}


form{
    margin: 2rem 0 1rem 0rem;
}

form select,button,input{
    width: 100%;
    border: none;
    border-radius: 0.75rem;
    outline: none;

}

form input{
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 2rem;
    padding:0.5rem;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;

}

p{
    margin: 0 0 1rem 0;
}

.msg{
    margin: 1rem 0 1rem 6rem;

}

.select_container img{
    max-width: 2rem;
}

#to{
    margin: 0 0 0.5rem 0;
}

.select_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius:0.5rem ;
    border: 1px solid lightgray;
}

select{
    margin: 0.5rem;

}

.dropdown i{
    margin-top: 2rem;

}

select_container select{
    font-size: 1rem;
    width: auto;
}

button{
    background-color:#af4d98;
    height: 2rem;
    cursor: pointer;
}